.faq {
    padding: 40px;
    box-sizing: border-box;
    max-height: 70vh;
    overflow: scroll;
}

.faq .question:not(:last-child) {
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid #cac4d0;
}

.faq .question p {
    margin: 0;
    margin-bottom: 8px;
    font-size: 0.9rem;
}

.faq .question p span {
    font-weight: 500;
}
