.main-page {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.main-page .clemmy-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
}

.main-page .clemmy-icon-container img {
    max-width: 200px;
}

.main-page .preset-selectors {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.main-page .preset-selectors button.time-preset {
    margin-right: 8px;
}

.main-page .countdown-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #b9b9b9;
    border-radius: 4px;
    margin: 8px 0 32px;
    padding: 24px;
}

.main-page .countdown-container .controls {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.main-page .countdown-container .controls button {
    padding: 0;
    margin-left: 8px;
    width: fit-content;
    height: fit-content;
}

.mdc-icon-button.mdc-ripple-upgraded .mdc-icon-button__ripple::before,
.mdc-icon-button.mdc-ripple-upgraded .mdc-icon-button__ripple::after {
    width: fit-content !important;
    height: fit-content !important;
}

.main-page .countdown-container .controls button i {
    font-size: 48px;
}

.main-page .countdown-container .timer-string {
    font-family: var(--heading-font);
    font-size: 5rem;
    margin: 24px 0;
}

.main-page .countdown-container .add-time {
    margin-right: 8px;
}

.main-page .set-intention {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-page .set-intention label {
    font-size: 1rem;
    margin-bottom: 8px;
}

.main-page .set-intention .mdc-text-field--filled {
    background: transparent !important;
}

.main-page .set-intention .mdc-text-field__input {
    font-family: var(--regular-font);
}
