.main-page {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.main-page .clemmy-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
}

.main-page .clemmy-icon-container img {
    max-width: 200px;
}

.main-page button.time-preset {
    margin: 4px;
}
