.settings-page {
    padding: 40px;
    box-sizing: border-box;
    max-height: 70vh;
    overflow: scroll;
}

.settings-page section {
    margin-bottom: 40px;
    box-sizing: border-box;
}

.settings-page section:not(:last-child) {
    padding-bottom: 40px;
    border-bottom: 1px solid #cac4d0;
}

.settings-page label, .settings-page p {
    margin: 0;
    padding: 0;
}

.settings-page .toggle-row {
    display: flex;
}

.settings-page .toggle-row .toggle-text {
    margin-right: 28px;
}

.settings-page .toggle-row .toggle-text label {
    font-weight: 500;
}

.settings-page .toggle-row .toggle-text p {
    font-size: 0.9rem;
}

.settings-page .mdc-switch__track {
    width: 40px !important;
    height: 20px !important;
    border-radius: 14px !important;
}

.settings-page .radio-option-row {
    display: flex;
    align-items: center;
}

.settings-page .radio-option-row button {
    padding-left: 0;
}

.settings-page .customize-times {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
}

.settings-page .customize-times .rmwc-select__default-width {
    width: 100% !important;
    margin-bottom: 0;
}
