.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 30vh;
}

button.time-preset {
    margin: 4px;
}
