:root {
    --heading-font: "Work Sans", sans-serif;
    --regular-font: "Inter", sans-serif;
    font-family: var(--regular-font);
    line-height: 1.5;
    font-weight: 400;

    /* color-scheme: light dark; */
    background-color: #e1daca;
    color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
